version: '3.5'

services:
  boldreports:
   container_name: boldreports
   image: syncfusion/boldreports
   restart: always
   ports:
     - 8085:80
   environment:
    # - APP_URL=<APP_URL>
     - BOLD_SERVICES_UNLOCK_KEY=<BOLD_SERVICES_UNLOCK_KEY>
     - BOLD_SERVICES_DB_TYPE=postgresql
     - BOLD_SERVICES_DB_HOST=pgdb
     - BOLD_SERVICES_POSTGRESQL_MAINTENANCE_DB=postgres
     - BOLD_SERVICES_DB_USER=postgres
     - BOLD_SERVICES_DB_PASSWORD=Admin@123
     - BOLD_SERVICES_USER_EMAIL=demo@boldreports.com
     - BOLD_SERVICES_USER_PASSWORD=Admin@123
   networks:
     - boldreports
   volumes:
     - boldreports_data:/application/app_data
    
  pgdb:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: <Password>
    volumes:
      - db_data:/var/lib/postgresql/data/
    networks:
      - boldreports

networks:
  boldreports:
  
volumes:
  boldreports_data:
  db_data: